.reservePanel{
    width: 65%;
    box-shadow: 0 0 10px 1px #d0d0d0;
    margin: 80px auto;
    border-radius: 80px 8px 8px 8px;
    position: relative;
}

.reserveTitle{
    width: 200px;
    text-align: center;
    background-color: #E2DCC8;
    font-weight: 800;
    border-radius: 0 0 0 20px;
    padding: 5px;
    color: #274546;
}

.changePanelBtns{
    display: flex;
    position: absolute;
    top: 60px;
    right: 20px;
}

.prevAndNext{
    margin: 7px;
    font-size: 1.3rem;
    color: #3b5781;
    background-color: #becce0;
    padding: 0 13px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.prevAndNext:first-child{
    border-radius: 20px 40px 40px 20px;
}

.prevAndNext:last-child{
    border-radius: 40px 20px 20px 40px;
}

.prevAndNext:hover{
    color: #6e88a9fd;
}

.reserveLevels{
    width: 80%;
    height: 80px;
    border-bottom: 2px solid #274546;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    color: #274546;
}

.level{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3b5781;
}

.circle{
    font-size: 1.5rem;
    transition: 0.3s;
}

.showPanelLevel{
    margin-top: 100px;
}


@media (max-width: 1024px) {
    .reservePanel{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .reservePanel{
        width: 90%;
    }

    .reserveLevels{
        top: 90px;
    }
    
    .level{
        font-size: 0.9rem;
    }

    .circle{
        font-size: 1.3rem;
    }

    .showPanelLevel{
        margin-top: 140px;
    }
}

@media (max-width: 576px) {
    .reservePanel{
        width: 95%;
        border-radius: 80px 80px 8px 8px;
        
    }
    
    .reserveTitle{
        width: 160px;
        font-size: 1rem;
        border-radius: 0 0 20px 20px;
        position: relative;
        right: calc(50% - 80px);
    }

    .changePanelBtns{
        width: 250px;
        top: 40px;
        right: calc(50% - 125px);
        justify-content: space-between;
    }
    
    .prevAndNext{
        font-size: 1.1rem;
        padding: 2px 13px;
    }
}


@media (max-width: 576px) {
    .reservePanel{
        border-radius: 40px 40px 8px 8px;   
    }

    .reserveLevels{
        width: 100%;
        height: 80px;
        margin: 20px auto;
        border-bottom: 2px solid #274546;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 700;
        color: #274546;
    }
}